.pps {
  margin-left: 78%;
  background-size: 100%;
}

.my-dropdown-toggle:after {
  display: none;
}

.image__profile_xs {
  width: 45px;
  height: 45px;
  border-radius: 70%;
  margin-left: -13px;
  margin-top: -8px;
}

.menu-dropdown {
  border-radius: 10px;
  left: -65px;
  top: 65px;
  margin-top: 50px;
  border: none;
}

.text-profile {
  font-size: 16px;
  width: 100%;
  padding-right: 50px;
  padding-left: 20px;
  color: #000000;
}

.dropdown-icon {
  margin-right: 15px;
}

.segitiga {
  z-index: 0;
  width: 0;
  height: 0;
  float: right;
  margin-top: -25px;
  margin-right: 17px;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 21px solid #ffffff;
}

.div-logout-dropdown {
  margin-top: -8px;
}

.hr-dropdown {
  border-width: medium;
  margin-top: 0px;
}

.btn-dropdown {
  background-color: none !important;
}

.btn-dropdown:hover {
  background-color: none !important;
}

.div-item {
  margin-top: 10px;
  margin-bottom: 5px;
}
