@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.card-text {
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-align: start;
  font-size: 12px;
  margin-top: -5px;
}

.h5 {
  color: #fff;
  font-family: "Mulish", sans-serif;
  text-align: start;
  margin-bottom: 30px;
}

.card__package {
  width: 18rem;
  background-color: #0a223d;
  border-radius: 8px;
}

.price__crossout {
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-align: start;
  font-size: 12px;
  text-decoration: line-through;
  margin-top: 30px;
}

.price__disc {
  font-family: "Mulish", sans-serif;
  color: #fff;
  text-align: start;
  font-size: 22px;
}

.btn__booknow {
  width: 100px;
  font-size: 12px;
}

.card-img-top {
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0 0px;
  object-fit: cover;
}

.title__package {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title__activities {
  text-align: center;
  margin: 60px 70px 60px 0;
}

.img__style {
  object-fit: cover;
}

.img__gradient {
  position: relative;
  display: inline-block;
}

.img__gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 255px;
  height: 255px;
  border-radius: 10px;
  background: linear-gradient(
    179.83deg,
    rgba(196, 196, 196, 0) 35.34%,
    #0a223d 99.85%
  );
}

.size__activities {
  width: 255px;
  height: 255px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.btn__activities {
  width: 100px;
  height: 40px;
  font-size: 12px;
}

.img__overlay {
  top: 90px;
}
